<h2>Authors:</h2>
<ul>
  <% for (let a of authors) { %>
  <li>
    <a href="<%= '/authors/' + a.author_id + '/edit'  %>"><%= a.last_name + ', ' + a.first_name + " (" + a.affiliation + ")" %></a>
    <a href="<%= '/references/' + ref.reference_id + '/removeAuthor/' + a.author_id   %>">❌</a>
  </li>
  <% } %>
</ul>


<%- include("../components/formAddAuthor.ejs", { ref }) %>
