
<h2>Create a Reference</h2>
<form action="/createReference" method="POST">
  <div>
    <label class="form-label">
      Title:
      <input class="form-control" type="text" name="title" />
    </label>
  </div>

  <div>
    <label class="form-label">
      Published on:
      <input class="form-control" type="date" name="published_on" />
    </label>
  </div>

  <button class="btn btn-primary" type="submit">Create</button>
</form>
