<h2>Create a Player</h2>
<form action="/createPlayer" method="POST">
  <div>
    <label class="form-label">
      First Name:
      <input class="form-control" type="text" name="first_name" />
    </label>
  </div>

  <div>
    <label class="form-label">
      Last Name:
      <input class="form-control" type="text" name="last_name" />
    </label>
  </div>

  <div>
    <label class="form-label">
      Age:
      <input class="form-control" type="text" name="age" />
    </label>
  </div>

  <div>
    <label class="form-label">
      Gender:
      <input class="form-control" type="text" name="gender" />
    </label>
  </div>

  <div>
    <label class="form-label">
      Height:
      <input class="form-control" type="text" name="height" />
    </label>
  </div>

  <div>
    <label class="form-label">
      Weight:
      <input class="form-control" type="text" name="weight" />
    </label>
  </div>

  <div>
    <label class="form-label">
      PA:
      <input class="form-control" type="text" name="PA" />
    </label>
  </div>

  <div>
    <label class="form-label">
      CA:
      <input class="form-control" type="text" name="CA" />
    </label>
  </div>

  <div>
    <label class="form-label">
      Club ID:
      <input class="form-control" type="text" name="club_id" />
    </label>
  </div>

  <button class="btn btn-primary" type="submit">Create</button>
</form>
