<h2>Positions:</h2>
<ul>
  <% for (let p of positions) { %>
  <li>
    <a href="<%= '/positions/' + p.position_id + '/edit'  %>"
      ><%= p.position_name %></a
    >
    <a href="<%= '/positions/' + p.position_id + '/removePosition'   %>">❌</a>
  </li>
  <% } %>
</ul>

<%- include("../components/formAddPosition.ejs", { player }) %>
