<form action="/references/">
  <div class="input-group">
    <input
      class="form-control"
      type="text"
      name="q"
      placeholder="Search"
      value="<%= query %>"
    />
    <button type="submit" class="btn-primary btn">Search</button>
  </div>
</form>
